
.vertical_nav {
      padding-left: 10px;
      padding-top: 20px;
      border-left-style: solid black;
      
}

.logo {
      padding-right: 10px;
}

.Carousel{
      margin-left: 15%;
      max-width: 70%;
      padding: 20px 20px 60px 20px;
     
}

.footer {
      display: flex;
      flex-direction: row;
      justify-content:space-around;
      text-decoration: none;
}

.footer_hijo {
      display: flex;
      flex-direction: column;
      align-items: center;
      
}

.selectores {
      text-decoration: none;
      color:blueviolet;
}


section {
      background-color: gainsboro;
}

.cambiar_imagen {
      padding-bottom: 130px;

}

.perfil {
      padding: 5%;
      
}

